/* Styles for screens smaller than 576px (extra small) */
@media (max-width: 575.98px) {
  .header_top_left h1 {
    font-size: 30px;
  }
  .header_top_left h1 {
    font-size: 40px;
  }
  .header_top_left h4 {
    font-size: 38px;
  }
  .header_top_left h5 {
    font-size: 25px;
  }
}

/* Styles for screens between 576px and 767px (small) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */
}

/* Styles for screens between 768px and 991px (medium) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */
}

/* Styles for screens between 992px and 1199px (large) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
}

/* Styles for screens larger than 1200px (extra large) */
@media (min-width: 1200px) {
  #top_header .top_header_left {
    padding-right: 100px;
  }
}