/* Styles for screens smaller than 576px (extra small) */
@media (max-width: 575.98px) {

  .top_faq_area {
    display: none;
  }
  .navbar-brand span.text-1000.fs-3 {
    margin-left: -20px !important;
  }
  .top_header_left {
    padding-top: 2rem;
  }

  #top_header {
    min-height: unset;
  }

  .header_top_left h1 {
    font-size: 15px;
  }

  .header_top_left h4 {
    font-size: 30px;
  }

  .header_top_left h5 {
    font-size: 20px;
  }

  .header_top_left h6 {
    text-align: left;
  }

  .header_leftside {
    margin: 35px 0;
    padding: 0.5rem !important;
  }

  /* Responsive Text || Start */
  .font_15_onmobile {
    font-size: 15px !important;
  }

  .font_20_onmobile {
    font-size: 20px !important;
  }

  .font_35_onmobile {
    font-size: 35px !important;
  }

  /* Responsive Text || End */

  #table_section_area {
    padding: 1rem 0;
  }

  .table_section_title,
  .subtitle {
    text-align: center;
  }

  #table_section_area_fp .col-sm-12.col-md-3 {
    padding: .5rem !important;
  }

  .suggestion_input {
    padding: 15px;
  }

  .btn_cselection {
    width: 48%;
    margin: 2px;
  }

  .box_shadow_title {
    padding: 1rem 0;
  }

  .box_shadow_title h2 {
    font-size: 16px;
  }

  .box_shadow_title h2 span {
    display: block;
    font-size: 30px;
  }

  .box_shadow_title h5 {
    font-size: 14px;
  }

  .box_shadow_at .top_part {
    padding: 20px 15px;
  }

  .box_shadow_area .step_title {
    font-size: 25px;
  }

  /* Article Box || box_shadow_area */
  .box_shadow_area .step_title{
    font-size: 14px;
  }
  .box_shadow_at .top_part h4{
    font-size: 16px;
  }
  #article_area p {
    font-size: 12px;
  }
  .read_more{
    display: none;
  }
  .box_shadow_area .step_title {
    padding: 5px 20px;
  }
  .step_btn_three span:nth-child(2){
    font-size: 12px;
  }
  .copy_paste_text{
    font-size: 13px !important;
  }
  .steps_super_title {
    font-size: 1.5rem;
    padding-top: 10px;
}
  /* Article Box || box_shadow_area */
}

/* Styles for screens between 576px and 767px (small) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */
}

/* Styles for screens between 768px and 991px (medium) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */
}

/* Styles for screens between 992px and 1199px (large) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
}

/* Styles for screens larger than 1200px (extra large) */
@media (min-width: 1200px) {
  #top_header .top_header_left {
    padding-right: 100px;
  }
}